
.search_panel{
	width:100%;
	background-color:#e4e4e4;
	border:solid 1px #ccc;
	padding:20px 30px;
	margin-bottom:20px;
}
.search_btn{
	color:#fff !important;
}
/* 赛事列表 */
.competition{
	background:#ffd819;
	padding:30px;
	margin-bottom:10px;
}
.comptition_img{
	width:100%;
	height:auto;
}
.comptition_img img{
	display:inline-block;
	width:100%;
	height:auto;
}
.comptition_text{
	padding-left:30px;
}
.competition_title{
	font-weight:bold;
	font-size:16px;
	margin:15px 0;
	color:#000;
}
.competition_type p{
	display:inline-block;
	background-color:#000;
	padding:5px 20px;
	border-radius:2px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	margin:10px 5px ;
}
.competition_type p img{
	display:inline-block;
	height:16px;
	width:auto;
}
.competition_date p,.competition_adress p{
	display:inline-block;
	margin-right:10px;
	margin:10px 0;
}
/* .competition_date #date{
	color:#ff9966;
} */
.competition_dsc{
	color:#666;
	margin:10px 0;
	line-height:22px;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical; 
	-webkit-line-clamp:2; 
}
.detail{
	margin:15px 0;
	float:right;
}
.detail a{
	color:#666;
}

/* 分页 */
.page .M-box3{
	float:right;
}