
.sign_btn{
	color:#fff !important;
	width:30%;
}
/* 赛事列表 */
.competition{
	padding:30px 30px 30px 0;
}
.comptition_img{
	width:100%;
	height:auto;
}
.comptition_img img{
	display:inline-block;
	width:100%;
	height:auto;
}
.comptition_text{
	padding-left:30px;
	padding-top:10px;
}
.competition_title{
	font-weight:bold;
	font-size:16px;
	margin:15px 0;
}
.competition_type p{
	display:inline-block;
	background-color:#333;
	padding:5px 20px;
	border-radius:2px;
	margin-right:10px;
	color:#fff;
	font-size:12px;
	margin:10px 0 ;
}
.competiton_date p,.competiton_adress p,.competiton_sign p,.competiton_high p,.competiton_floor p{
	display:inline-block;
	margin-right:10px;
	margin:10px 0;
}
.competiton_date #date{
	color:#ff9966;
}

