.mg_choice_panel {
	height: 100%;
}

.mg_left_panel {
	height: 100%;
	background: #FFF;
	color: #333;
	padding: 0;
	font-size: 1.6em;
	border: 1px solid #ccc;
	margin-top: 1em;
}

.mg_choice_item {
	
}

.mg_choice_name {
	padding: 5px 45px;
}

.mg_choice_list {
	
}

.mg_list_item {
	padding: 1em .5em;
	cursor: pointer;
	text-align: -webkit-center;
}

.mg_list_item:hover {
	background: #EEE;
}

.mg_active {
	background: #44B549;
	color: #FFF;
}

.mg_active:hover {
	background: #44B549;
	color: #FFF;
}

.ctrl_panel {
	margin: 20px;
	border-bottom: 1px solid #488200;
}

.ctrl_item {
	padding: 10px;
	text-align: left;
	cursor: pointer;
}

.ctrl_item a {
	color: #333;
	margin-left: 2px;
}

.anli_panel {
	padding: 10px 20px;
}

.anli_product_img {
	width: 80%;
	height: 13em;
	display: block;
	margin: 20px auto;
}

.anli_product_number {
	color: #F00;
	font-size: 1.5em;
}

.anli_product_name {
	display: block;
	text-align: -webkit-center;
	margin: 1em 0;
	font-size: 1.3em;
	color: #427305;
}

.anli_product_item {
	display: block;
	text-align: -webkit-left;
	margin-top: 1em;
	padding: 0 1.1em;
	font-size: 1em;
	color: #427305;
	margin-bottom: 1em;
	line-height: 22px;
	min-height: 7em;
}

.anli_product_item:hover {
	color: #427305;
}

.anli_product_panel {
	border: 1px solid #DDD;
	border-radius: 10px;
	padding: 3px 20px;
}

.anli_product_panel:hover {
	border-bottom: 3px solid #44B549;
	padding-bottom: 1px;
}

.anli_mobile_list {
	margin-bottom: 2em;
}

@media only screen and (max-width: 767px) {
	.mg_left_panel {
		height: 100%;
		background: #FFF;
		color: #333;
		padding: 0;
		font-size: 1.6em;
		border: 1px solid #ccc;
		margin: 1em;
	}
	.anli_mobile_list {
		margin-bottom: 1em;
	}
	.ctrl_item {
		text-align: center;
	}
}